.question-detail {
  text-align: center;

  .title {
    margin: 30px 0 20px;
    font-size: 24px;
    font-weight: bold;
    color: $primary-color;
  }

  .description {
    margin-bottom: 20px;
  }

  .ending-date {
    font-size: 12px;
    color: gray;
  }

  ul {
    margin: 40px 0;
  }

  li {
    margin: 20px 0;
  }

  input {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;

    + label {
      cursor: pointer;
      display: block;
      width: 200px;
      margin: 0 auto;
      padding: 20px 10px;
      border: 1px solid currentColor;
      border-radius: 4px;
      color: $primary-color;
      font-size: 18px;
      transition: all 0.2s ease;
      transform: scale(1);

      &:hover {
        background-color: #eee;
      }

      span {
        display: block;
      }

      .answer-description {
        margin-top: 8px;
        font-size: 0.7rem;
      }
    }

    &:checked + label {
      background: $secondary-color;
      border-color: $secondary-color;
      font-weight: bold;
    }

    &:focus + label {
      transform: scale(1.05);
    }
  }

  button {
    all: unset;
    display: block;
    margin: 8px auto;
    padding: 12px 20px;
    font-size: 0.8rem;
  }

  button[type="submit"] {
    width: 100%;
    max-width: 230px;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;

    background: $primary-color;
    color: #fff;
    font-weight: bold;
  }
}
