.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0D2356;
  font-weight: bold;
  font-size: 40px;
  height: 70px;
  font-family: 'Avenir', Arial, sans-serif;
  -webkit-box-shadow: 0px 10px 9px -7px rgba(158,158,158,1);
  -moz-box-shadow: 0px 10px 9px -7px rgba(158,158,158,1);
  box-shadow: 0px 10px 9px -7px rgba(158,158,158,1);

  img {
    width: 34px;
    margin-top: -2px;
  }
}
