@import 'variables.scss';
@import '../components/QuestionsList/QuestionsList.scss';
@import '../components/QuestionDetail/QuestionDetail.scss';
@import '../components/Header/Header.scss';
@import '../components/Footer/Footer.scss';

.App {
  font-family: $default-font-family;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}
