.footer {
  height: 70px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-box-shadow: 0px -7px 13px -4px rgba(158,158,158,1);
  -moz-box-shadow: 0px -7px 13px -4px rgba(158,158,158,1);
  box-shadow: 0px -7px 13px -4px rgba(158,158,158,1);
  flex-direction: column;
  color: $primary-color;

  .heart {
    color: #f542f5;
  }

  .tribes-names {
    font-weight: bold;
  }
}
